body {
    background-color: aqua;
}

h1 {
    color: green;
    text-align: center;
}

p {
    
    font-family: fantasy;
    font-style: normal;
    font-size: 400px;
}
img {
    float: right;
}
div {
    width: 300px;height: 500px;
    border: 16px black;
}